<meta charset="utf-8" />{%- comment -%}
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  {%- endcomment -%}<meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=yes, minimum-scale=1.0, maximum-scale=2.0">
{% capture resource_title %}
  {{ title | strip_html | strip_newlines }}{% endcapture %}
<title>
  {% if resource_title != "Index" %}
    {{ resource_title | escape }} | {{ metadata.title | escape }}
  {% else %}
    {{ metadata.title | escape }}: {{ metadata.tagline | escape }}{% endif %}
</title>

<meta name="description" content="{{ metadata.description }}" />
<link rel="me" href="https://hachyderm.io/@okay_sure_cool" />

<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/apple-touch-icon.png">
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/favicon-32x32.png">
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="/favicon-16x16.png">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link
  rel="preconnect"
  href="https://fonts.gstatic.com"
  crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Oxygen:wght@400;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% asset_path css %}" />
<script src="{% asset_path js %}" defer></script>
{% live_reload_dev_js %}