<header>
  {%- comment -%}
    <img src="{{ '/images/logo.svg' | relative_url }}" alt="Logo" />
  {%- endcomment -%}
  <a href="{{ '/' | relative_url }}">
    <h1 class="logo">rabid.audio</h1>
  </a>
  <p class="tagline">{{ metadata.description }}</p>

  <nav>
    <ul>
      <li>
        <a href="{{ '/' | relative_url }}">Home</a>
      </li>

      {%- comment -%}
        <li><a href="{{ '/projects' | relative_url }}">All Projects</a></li>
      {%- endcomment -%}
      {%- comment -%}
        <li>
        <a href="{{ '/projects/synth' | relative_url }}">Synthesizer</a>
        </li>
      {%- endcomment -%}
      <li>
        <a href="{{ '/posts' | relative_url }}">Posts</a>
      </li>
      <li>
        <a href="{{ '/resources' | relative_url }}">Resources</a>
      </li>

      {%- comment -%}
        <li><a href="{{ '/about' | relative_url }}">About</a></li>
      {%- endcomment -%}
      <li>
        <a href="{{ '/links' | relative_url }}">Links</a>
      </li>
    </ul>
  </nav>
</header>