<header>
  {%- comment -%}
  <img src="{{ '/images/logo.svg' | relative_url }}" alt="Logo" />
  {%- endcomment -%}<a href="{{ '/' | relative_url }}">
    <h1 class="logo">rabid.audio</h1>
  </a>
  <p class="tagline">{{ metadata.description }}</p>

  <nav>
    <ul>
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/projects/synth' | relative_url }}">Synthesizer</a></li>
      <li><a href="{{ '/resources' | relative_url }}">Resources</a></li>
      <li><a href="{{ '/music' | relative_url }}">Music</a></li>
      <li><a href="{{ '/links' | relative_url }}">Links</a></li>
    </ul>
  </nav>
</header>